div,p,h1,h2,h3,body,tr,td{
    margin: 0;
    padding: 0;
}

body{
   text-align: center;
    font-family: "Myriad Pro";
    font-size: 21px;
}

#wrapper {
    display: inline-block;
    width: 783px;
    height: 600px;
    background-color: #eaeae2;
}

.main {
   margin: auto;
    width: 456px;
    margin-top: 63px;
    border-radius: 7px;
    box-shadow: 0px 20px 15px #8f8f80;
    background: #4a4a4a;
  
}

h2{
    font-weight: 500;
    font-size: 23px;
    color: #c6f1e8;
    padding: 33px 20px 26px 20px;
    border-bottom: 1px solid #6a6c69;
}

form{
    background: #fe7956;
    padding: 35px 20px;
}

form input{
    display: block;
    width: 372px;
    padding: 17px 22px;
    font-family: "Myriad Pro";
    font-size: 21px;
    border: none;
}

form input[type="password"]{
    margin-bottom: 30px;
}

.btn{
    background: none;
    border-top: 2px solid #fc9f8a;
    border-bottom: 2px solid #e34c2c;
    border-left: none;
    border-right: none;
    border-radius: 0;
    width: 100%;
    color: #eee5fa;
    box-shadow: 0 2px 2px #ce3f20;
    padding: 16px 0;
}

form a{
    text-decoration: none;
    display: block;
}

.social{
    background: #4a4a4a;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    padding-left: 40px;
    overflow: hidden;
}

.social p{
    float: left;
    margin-right: 49px;
    color: #c1ffed;
    padding-top: 27px;
    
}

.social a{
    float: left;
    padding: 20px 21px 20px 21px;
}

.social a:active{
    background: #6b696a;
}

.social a:hover{
    background: #6b696a;
}

